@tailwind base;
@tailwind components;
@tailwind utilities;

/* react-datepicker overrides */
.react-datepicker-wrapper { width: 100%; }
.react-datepicker__close-icon::after { background-color: #6b7280 !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}